<div id="extension-modal-background" class="ext-modal">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
    />
    <div id="extension-modal" class="ext-modal-content">
        <div class="ext-modal-header">
            <div class="ext-modal-button-left">
                <button id="extension-left-nav" class="ext-nav-text">
                    Prompt
                </button>
            </div>
            <div class="ext-modal-center-button">
                <button id="extension-center-nav" class="ext-nav-text">
                    Read
                </button>
            </div>
            <div class="ext-modal-button-right">
                <button id="extension-right-nav" class="ext-nav-text">
                    Advice
                </button>
            </div>
        </div>
        <div id="extension-extra-box" class="ext-extra-body">
            <p class="ext-context-text">Extra</p>
            <div
                id="extension-extra-text-selection-box"
                class="ext-extra-text-selection-box"
            >
                <button
                    id="extension-extra-text-selection-cancel"
                    class="ext-extra-text-selection-cancel"
                >
                    <svg
                        viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#000000"
                        height="15px"
                        width="15px"
                    >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #5c5c5c;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 2px;
                                    }
                                </style>
                            </defs>
                            <title></title>
                            <g id="cross">
                                <line
                                    class="cls-1"
                                    x1="7"
                                    x2="25"
                                    y1="7"
                                    y2="25"
                                ></line>
                                <line
                                    class="cls-1"
                                    x1="7"
                                    x2="25"
                                    y1="25"
                                    y2="7"
                                ></line>
                            </g>
                        </g>
                    </svg>
                </button>
                <p class="extension-extra-text-p">Text Selection</p>
            </div>
        </div>
        <div id="ext-context-box" class="ext-modal-body">
            <p class="ext-context-text">Context</p>
            <button id="extension-context-edit-button" class="ext-edit-button">
                <svg
                    height="18px"
                    width="18px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M14.4443 5.68747L5.44587 14.6859C4.78722 15.3446 4.26719 16.1441 4.10888 17.062C3.94903 17.9888 3.89583 19.139 4.44432 19.6875C4.99281 20.236 6.14299 20.1828 7.0698 20.0229C7.98772 19.8646 8.78722 19.3446 9.44587 18.6859L18.4443 9.68747M14.4443 5.68747C14.4443 5.68747 17.4443 2.68747 19.4443 4.68747C21.4443 6.68747 18.4443 9.68747 18.4443 9.68747M14.4443 5.68747L18.4443 9.68747"
                            stroke="#3582a3"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </g>
                </svg>
            </button>
            <button
                id="extension-context-check-button"
                class="ext-check-button"
            >
                <svg
                    height="18px"
                    width="18px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check_Big">
                            <path
                                id="Vector"
                                d="M4 12L8.94975 16.9497L19.5572 6.34326"
                                stroke="#3582a3"
                                stroke-width="1.512"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </g>
                    </g>
                </svg>
            </button>
            <div id="extension-context-list-holder" class="ext-list-holder">
                <button id="extension-context-list-item" class="ext-list-item">
                    <div class="ext-list-dot-div">
                        <div class="ext-list-dot"></div>
                    </div>
                    <textarea rows="1" class="ext-list-text-area"></textarea>
                </button>
                <button
                    id="extension-context-place-holder"
                    class="ext-place-holder"
                >
                    <div class="ext-list-dot-div">
                        <div class="ext-list-dot-dotted"></div>
                    </div>
                </button>
            </div>
        </div>
        <div id="ext-prompt-box" class="ext-modal-body">
            <p class="ext-context-text">Prompt</p>
            <button id="extension-prompt-edit-button" class="ext-edit-button">
                <svg
                    height="18px"
                    width="18px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M14.4443 5.68747L5.44587 14.6859C4.78722 15.3446 4.26719 16.1441 4.10888 17.062C3.94903 17.9888 3.89583 19.139 4.44432 19.6875C4.99281 20.236 6.14299 20.1828 7.0698 20.0229C7.98772 19.8646 8.78722 19.3446 9.44587 18.6859L18.4443 9.68747M14.4443 5.68747C14.4443 5.68747 17.4443 2.68747 19.4443 4.68747C21.4443 6.68747 18.4443 9.68747 18.4443 9.68747M14.4443 5.68747L18.4443 9.68747"
                            stroke="#3582a3"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </g>
                </svg>
            </button>
            <button id="extension-prompt-check-button" class="ext-check-button">
                <svg
                    height="18px"
                    width="18px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Check_Big">
                            <path
                                id="Vector"
                                d="M4 12L8.94975 16.9497L19.5572 6.34326"
                                stroke="#3582a3"
                                stroke-width="1.512"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </g>
                    </g>
                </svg>
            </button>
            <div id="extension-prompt-list-holder" class="ext-list-holder">
                <button id="extension-prompt-list-item" class="ext-list-item">
                    <div class="ext-list-dot-div">
                        <div class="ext-list-dot"></div>
                    </div>
                    <textarea rows="1" class="ext-list-text-area"></textarea>
                </button>
                <button
                    id="extension-prompt-place-holder"
                    class="ext-place-holder"
                >
                    <div class="ext-list-dot-div">
                        <div class="ext-list-dot-dotted"></div>
                    </div>
                </button>
            </div>
        </div>
        <button id="ext-start-chat-button">Start Chat (Enter)</button>
        <div
            id="extension-delete-list-item-div"
            class="ext-delete-list-item-div"
        >
            <button
                id="extension-delete-list-item-button"
                class="ext-delete-list-item-button"
            >
                Delete
            </button>
        </div>
    </div>
    <div id="extension-sign-in-arrow">
        <svg
            height="60px"
            width="60px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M12 4V20M12 4L8 8M12 4L16 8"
                    stroke="#60bffb"
                    stroke-width="0.792"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></path>
            </g>
        </svg>
        <p class="extension-sign-in-notif">Please sign in</p>
    </div>
</div>
