.ext-modal {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.58);
    top: 0;
    left: 0;
    color: white;
}

.ext-modal-content {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #efefef;
}

.ext-modal-header {
    border-radius: 25px 25px 0 0;
    background-color: #2bb8f4;
    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.ext-modal-button-left,
.ext-modal-button-right,
.ext-modal-center-button {
    position: absolute;
    display: flex;
    align-items: center;
}

.ext-nav-text {
    background: #2bb8f4;
    font-size: 17px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.ext-modal-button-left {
    top: 0;
    bottom: 0;
    right: 280px;
    z-index: 30;
}

.ext-modal-center-button {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}

.ext-modal-button-right {
    top: 0;
    bottom: 0;
    left: 280px;
    z-index: 30;
}

.ext-modal-body {
    border-radius: 10px;
    border: 1px solid #2da2d4;
    position: relative;
    padding: 9px 0 0 0;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.ext-extra-body {
    border-radius: 10px;
    border: 1px solid #2da2d4;
    position: relative;
    height: 55px;
    margin: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
}

.ext-extra-text-selection-box {
    border-radius: 10px;
    border: 1px solid #1f1f1f;
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
}

.extension-extra-text-p {
    color: #292929;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px 0px 0px 6px;
}

.ext-list-holder {
    overflow: auto;
    flex-grow: 1;
    padding: 8px 20px 24px 20px;
    scrollbar-color: #8a8a8a #e2e2e2;
}

#ext-prompt-box {
    margin-top: 0;
}

#extension-sign-in-arrow {
    position: absolute;
    right: 57px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension-sign-in-notif {
    color: white;
    font-size: 18px;
}

#ext-start-chat-button {
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid #2da2d4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    height: 50px;
    background: #efefef;
}

#ext-start-chat-button:hover {
    background: #2da2d4;
    color: white;
}

.ext-context-text {
    position: absolute;
    padding: 0px 4px;
    color: #3582a3;
    font-size: 14px;
    left: 20px;
    top: -1px;
    transform: translateY(-50%);
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

.ext-edit-button {
    position: absolute;
    right: 30px;
    top: -1px;
    transform: translateY(-50%);
    background-color: #efefef;
    padding: 0 3px 0 3px;
    border: none;
    outline: none;
    line-height: 0;
}

.ext-check-button {
    position: absolute;
    right: 30px;
    top: -1px;
    transform: translateY(-50%);
    background-color: #efefef;
    padding: 0 3px 0 3px;
    border: none;
    outline: none;
    line-height: 0;
}

.ext-list-dot-dotted {
    border: 1px dashed #2bb8f4;
    border-radius: 9999px;
    height: 12px;
    width: 12px;
}

.ext-list-dot {
    border: 1px solid #2bb8f4;
    border-radius: 9999px;
    height: 12px;
    width: 12px;
}

.ext-list-dot-div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 20px;
}

.ext-place-holder {
    height: 38px;
    position: relative;
    border: 1px dashed #2bb8f4;
    border-radius: 10px;
    width: 318px;
    cursor: text;
    background: #efefef;
}

.ext-list-text-area {
    font-size: 14px;
    color: black;
    overflow: hidden;
    resize: none;
    outline: none;
    padding: 0;
    border: none;
    padding: 7px 14px 7px 0px;
    height: 42px;
    min-height: 0;
    width: 268px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 50px;
    box-sizing: border-box;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    background: white;
}
.ext-list-text-area::selection {
    background: #0091ff45;
}

.ext-list-text-area:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.ext-delete-list-item-button {
    border-radius: 4px;
    color: white;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    outline: none;
}
.ext-delete-list-item-button:hover {
    background: #ca3838;
}

.ext-delete-list-item-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 3px;
    position: fixed;
    border: 1px solid #7f7f7f;
    background: #2a2a2af3;
}

.ext-list-item {
    position: relative;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.ext-text-bold {
    font-weight: bold;
}

.ext-yt-loading-spinner {
    border: 1px solid #efefef;
    border-radius: 50%;
    border-top: 1px solid #3498db;
    width: 15px;
    height: 15px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ext-extra-text-selection-cancel {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    line-height: 0;
}
